@import 'tailwindcss';

@theme {
    --font-sans: 'Roboto', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-brand-primary: #7b3dff;
    --color-brand-secondary: #0dff9a;
}

body {
    @apply text-sm;
}

h1,
h2,
h3 {
    @apply font-medium;
}

h1 {
    @apply text-lg;
}

input,
select,
textarea {
    @apply border border-gray-300 rounded-lg py-2 px-3 bg-white focus:outline-brand-primary disabled:cursor-not-allowed disabled:opacity-50;
}

button {
    @apply cursor-pointer hover:opacity-80;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE e Edge */
    scrollbar-width: none;
    /* Firefox */
}

th {
    @apply font-medium px-4 py-2.5 bg-brand-secondary text-nowrap;
}

tr {
    @apply border-b border-gray-200 bg-white;
}

td {
    @apply px-4 py-1.5 text-gray-600;
}