@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Roboto', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-brand-primary: #7b3dff;
    --color-brand-secondary: #0dff9a;
}

@layer base {
    body {
        @apply text-sm;
    }

    h1,
    h2,
    h3 {
        @apply font-medium;
    }

    h1 {
        @apply text-lg;
    }

    input,
    select,
    textarea {
        @apply border border-gray-300 rounded-sm py-1.5 px-3 focus:outline-brand-primary;
    }

    button {
        @apply cursor-pointer hover:opacity-80;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        /* IE e Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}